*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #3B3B4F;
    --game-bg-color: #DFDFE2;
    --dark-text-color: #0A0A23;
    --card-front-color: #fff;
    --card-back-color: #0A0A23;
}

body {
    background-color: var(--bg-color);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game__container {
    background-color: var(--game-bg-color);
    width: 100%;
    max-width: 1450px;
    text-align: center;
    padding: 20px;
}

.title {
    text-transform: uppercase;
}

.game__difficulty {
    width: 150px;
    height: 30px;
    font-size: 1rem;
}

.game__reset-btn, .dialog-btn {
    padding: 6px 30px;
}

.game__cards {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.game__card {
    width: 100px;
    height: 100px;
    font-size: 4rem;
    background-color: var(--card-front-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.game__card::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--bg-color);
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.game__card.open {
    transform: rotateY(0deg);
}

.open::after {
    transform: rotateY(180deg);
}

#winning-feedback {
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.winning-reset-message {
    font-weight: bold;
    font-size: 1.5rem;
}

.reset-cancel-dialog {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 15px;
}

@media screen and (min-width: 576px){
    body {
        padding: 50px;
    }

    .title {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .title {
        font-size: 3rem;
    }
}